:root {
  --header-color: #388e3c;
}

body::-webkit-scrollbar {
  background-color: #3c9e41;
  width: 9px;
}
body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #3c9e41;
}
body::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: gray;
}
