.imageSlider {
  position: relative;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 1000px;
  height: 300px;
  border-radius: 10px;
}

.imageSlider__rightArrow {
  position: absolute;
  top: 50%;
  right: 130px;
  font-size: 80px !important;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  transition: all 2s ease-in-out;
}

.imageSlider__leftArrow {
  position: absolute;
  top: 50%;
  left: 130px;
  font-size: 80px !important;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
  transition: all 2s ease-in-out;
}
.imageSlider__leftArrow:hover {
  transform: scale(1.3);
}
.imageSlider__rightArrow:hover {
  transform: scale(1.3);
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
