.payment {
  display: flex;
  flex-direction: column;
}
.payment__container {
  display: flex;
  justify-content: space-between;
  margin: 15px;
}
.payment__title {
  margin: 20px;
}
.payment__left {
  background-color: white;
  flex: 0.8;
  width: 100%;
  margin: 10px;
  height: 600px;
  border-radius: 10px;
}

.payment__right {
  background-color: white;
  flex: 0.2;
  border-radius: 6px;
  border-top: 7px solid rgb(93, 208, 247);
  margin: 10px;
  width: 100%;
  height: fit-content;
}
.paymentLeft__deliveryAddress {
  display: flex;
  align-items: center;
}
.paymentDeliveryAddress__title {
  margin: 30px;
}
.payment__stripe {
  padding: 20px;
}
.payment__stripe > form {
  max-width: 400px;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  height: 80px;
  border: 1px solid lightgray;
}
.payment__stripe > form > div > button {
  background: #17a823;
  border-radius: 2px;
  width: 100%;
  height: 40px;
  border: 1px solid;
  font-weight: bolder;
  margin-top: 10px;
  border-color: #47a834 #4a9c31 #51f307;
  color: #111;
}
.payment__priceContainer {
  margin-top: 5px;
}
